.nav-wrapper {
    background-color: #dee76b;
}

nav,
ul,
a {
    color: #ffffff !important;
    font-size: 22px !important;
    /* font-weight: bold; */
    font-family: 'Raleway', sans-serif;
}

.modal-messages {
    font-size: 20px;
    color: #666666;
}

#side-panel {
    position: absolute;
    left: 15%;
    top: 133%;
    z-index: 1;
    font-size: 100px;
    font-weight: bold;
    color: #c6ff00;
    font-family: 'Mr De Haviland', cursive;
}

.city-tag {
    position: absolute;
    left: 62%;
    top: 133%;
    z-index: 1;
    font-size: 100px;
    /* padding-bottom: 0px;
    border-bottom: 5px solid #c6ff00; */
    font-weight: bold;
    color: #c6ff00;
    font-family: 'Mr De Haviland', cursive;
}

.page-footer {
    text-align: center;
    background-color: #03a9f4;
}

.start-it {
    position: absolute;
    top: 30%;
    left: 10%;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    /* font-weight: bold; */
    color: ffeb3b;
}

.background-image {
    max-height: 980px;
    max-width: auto;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: grayscale(100%); */
    z-index: 0;
    position: relative;
    background-position: center center;
}

.skill-level {
    width: 100%;
    height: auto;
}


/* .vidya {
    filter: grayscale(100%); 
}
*/

.breaker {
    /* padding-top: 50px; */
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 50px;
    color: #03a9f4;
    background-color: #ffffff;
    height: 100px;
}

#map {
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 46%;
    height: 500px;
    width: 50%;
    border-radius: 7px;
}

.marker {
    background-image: url('http://www.hippokrat.net/assets/images/location-black-png-10.png');
    /* background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Tennis_ball_3.svg/1024px-Tennis_ball_3.svg.png'); */
    background-size: cover;
    color: #ccff33;
    width: 25px;
    height: 25px;
    /*border-radius: 50%;*/
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 320px;
    height: auto;
    font-size: 10px;
}

.mapInfo {
    position: fixed;
    right: 100px;
}

.portfolio {
    position: absolute;
    top: 20%;
    left: 70%;
    height: 5%;
    width: 40%;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    text-align: center;
    z-index: 0;
    position: relative;
    top: 0%;
    padding: -10%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* background: #333333; */
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.video-container .filter {
    z-index: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}


/* .video-container video {
    position: absolute;
    z-index: 0;
    padding-left: -1px;
    top: 0;
} */


/* .video-container video.fillWidth {
    width: 100%;
} */